body {
  backgrand: tomato;
  text-align: right;
  padding: 30px 60px;
}
nav {
  text-align: left;
  
}
li {
  display: block;
  margin: 5px;
}
td {
  padding: 10px !important;
  text-align: center;
}
tbody {
  margin: 50px;
}
